<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <p><strong>Single US Address Verification</strong> <%- JSON.stringify(singleVerify) %></p>
        <p><strong>Bulk US Address Verification</strong> <%- JSON.stringify(bulkVerify) %></p>
      </div>
    </div>
  </div>
</body>

</html>