<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Letters' target='_blank'>
          <h4>https://docs.lob.com/#tag/Letters</h4>
        </a>
        <p><strong>Create Letter</strong> <pre><%- JSON.stringify(createdLetter, null, 2) %></pre></p>
        <p><strong>Get Letter</strong> <pre><%- JSON.stringify(retrievedLetter, null, 2) %></pre></p>
        <p><strong>List Letters</strong> <pre><%- JSON.stringify(listedLetters, null, 2) %></pre></p>
        <p><strong>Delete Letter</strong> <pre><%- JSON.stringify(deletedLetter, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>