<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Self-Mailers' target='_blank'>
          <h4>https://docs.lob.com/#tag/Self-Mailers</h4>
        </a>
        <p><strong>Create Self Mailer</strong> <pre><%- JSON.stringify(createdSelfMailer, null, 2) %></pre></p>
        <p><strong>Get Self Mailer</strong> <pre><%- JSON.stringify(retrievedSelfMailer, null, 2) %></pre></p>
        <p><strong>List Self Mailers</strong> <pre><%- JSON.stringify(listedSelfMailers, null, 2) %></pre></p>
        <p><strong>Delete Self Mailer</strong> <pre><%- JSON.stringify(deletedSelfMailer, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>