<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Template-Versions' target='_blank'>
          <h4>https://docs.lob.com/#tag/Template-Versions</h4>
        </a>
        <p><strong>Create Template Version</strong> <pre><%- JSON.stringify(createdVersion, null, 2) %></pre></p>
        <p><strong>Get Template Version</strong> <pre><%- JSON.stringify(retrievedVersion, null, 2) %></pre></p>
        <p><strong>List Template Versions</strong> <pre><%- JSON.stringify(listedVersions, null, 2) %></pre></p>
        <p><strong>Update Template Version</strong> <pre><%- JSON.stringify(updatedVersion, null, 2) %></pre></p>
        <p><strong>Delete Template Version</strong> <pre><%- JSON.stringify(deletedVersion, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>