<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Postcards' target='_blank'>
          <h4>https://docs.lob.com/#tag/Postcards</h4>
        </a>
        <p><strong>Create Postcard</strong> <pre><%- JSON.stringify(createdPostcard, null, 2) %></pre></p>
        <p><strong>Get Postcard</strong> <pre><%- JSON.stringify(retrievedPostcard, null, 2) %></pre></p>
        <p><strong>List Postcards</strong> <pre><%- JSON.stringify(listedPostcards, null, 2) %></pre></p>
        <p><strong>Delete Postcard</strong> <pre><%- JSON.stringify(deletedPostcard, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>