<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Templates' target='_blank'>
          <h4>https://docs.lob.com/#tag/Templates</h4>
        </a>
        <p><strong>Create Template</strong> <pre><%- JSON.stringify(createdTemplate, null, 2) %></pre></p>
        <p><strong>Get Template</strong> <pre><%- JSON.stringify(retrievedTemplate, null, 2) %></pre></p>
        <p><strong>List Templates</strong> <pre><%- JSON.stringify(listedTemplates, null, 2) %></pre></p>
        <p><strong>Update Template</strong> <pre><%- JSON.stringify(updatedTemplate, null, 2) %></pre></p>
        <p><strong>Delete Template</strong> <pre><%- JSON.stringify(deletedTemplate, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>