<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/Bank-Accounts' target='_blank'>
          <h4>https://docs.lob.com/#tag/Bank-Accounts</h4>
        </a>
        <p><strong>Create Bank Account</strong> <pre><%- JSON.stringify(createdAccount, null, 2) %></pre></p>
        <p><strong>Verify Bank Account</strong> <pre><%- JSON.stringify(verifiedAccount, null, 2) %></pre></p>
        <p><strong>Get Bank Account</strong> <pre><%- JSON.stringify(retrievedAccount, null, 2) %></pre></p>
        <p><strong>List Bank Accounts</strong> <pre><%- JSON.stringify(listedAccounts, null, 2) %></pre></p>
        <p><strong>Delete Bank Account</strong> <pre><%- JSON.stringify(deletedAccount, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>